:root {
  --lilac-0: #930b9d;
  --lilac-1: #f6ebf7;
  --lilac-2: #9a2da2;
  --lilac-3: #72047a;
  --lilac-4: #5a0160;

  --orange-0: #f0820e;
  --orange-1: #ffeedc;
  --orange-2: #f8a043;
  --orange-3: #bb6205;
  --orange-4: #934b00;

  --blue-0: #0e7496;
  --blue-1: #ecf4f7;
  --blue-2: #2e809b;
  --blue-3: #075975;
  --blue-4: #03455c;

  --lemon-0: #c8e90e;
  --lemon-1: #f2f7d6;
  --lemon-2: #d6f141;
  --lemon-3: #9bb505;
  --lemon-4: #798e00;
}
