@import "reset.css";
@import "cores.css";
@import "cabecalho.css";
@import "rodape.css";

/* Fonte 'Zilla Slab Regular' */
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap");
/* Fonte 'Zilla Slab Bold' */
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@600&display=swap");
/* Fonte 'Zilla Slab Itálico' */
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@1,300&display=swap");

:root {
  font-size: clamp(
    18px,
    3vw,
    24px
  ); /* Usar rem para aumentar a fonte responsivamente */
  font-family: "Zilla Slab", serif;
  color: var(--blue-4);
}
body {
  background: rgb(246, 235, 247);
  background: linear-gradient(
    180deg,
    rgba(246, 235, 247, 1) 13%,
    rgba(201, 227, 237, 1) 35%,
    rgba(236, 244, 247, 1) 50%,
    rgba(201, 227, 237, 1) 65%,
    rgba(246, 235, 247, 1) 85%
  );
}
