@import "menu-hamburguer.css";
@import "cabecalho.css";

body {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: auto auto 5vw auto 5vw 5vw auto auto 5vw auto;
  grid-template-columns: 5vw 45% 45% 5vw;
}

.header {
  grid-row: 1/2;
  grid-column: 1/5;
}

.banner {
  grid-row: 2/3;
  grid-column: 1/5;
}

.titulo-sobre {
  grid-row: 4/5;
  grid-column: 2/3;
}

.paragrafos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  width: 90%;
  gap: 1vw;
  grid-row: 4/5;
  grid-column: 3/4;
}

.saiba-mais {
  width: auto;
  padding: 0.6vw;
  height: 50px;
  box-shadow: 0.4vw 0.4vw 0.5vw var(--lilac-4);
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  color: var(--blue-4);
  border-radius: 0.7vw;
  font-size: clamp(0.8rem, 1.4vw, 1.5rem);
  cursor: pointer;
  margin-top: 4vh;
  grid-row: 5/6;
  grid-column: 2/4;
}

.titulo-doadores {
  grid-row: 7/8;
  grid-column: 2/3;
}

.slideshow-container-doadores {
  grid-row: 8/9;
  grid-column: 2/3;
  position: relative;
}

.titulo-ajudados {
  grid-row: 7/8;
  grid-column: 3/4;
}

.slideshow-container-ajudados {
  grid-row: 8/9;
  grid-column: 3/4;
  position: relative;
}

.footer {
  grid-row: 10/11;
  grid-column: 1/5;
}

.cor-link {
  color: var(--lilac-4);
}

.paragrafos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1vw;
}

.saiba-mais:hover {
  background-color: var(--blue-1);
  font-weight: 600;
  color: var(--orange-0);
  border-radius: 0.7vw;
  box-shadow: 0.4vw 0.4vw 0.5vw var(--blue-4);
}

.img-banner {
  width: 100%;
  height: auto;
}

.foto {
  width: 8vw;
  height: auto;
  float: left;
}

.nome {
  text-align: center;
}

.depoimento {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vw;
  font-size: 1.3rem;
  width: 90%;
  height: 18vw;
  text-align: justify;
}

.titulo-depoimentos {
  justify-self: start;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 100%;
  width: auto;
  margin-top: -22px;
  color: var(--orange-0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
}

.next {
  right: 10%;
}

@media only screen and (max-width: 1400px) {
  .depoimento {
    height: 35vw;
  }
}

@media only screen and (max-width: 1000px) {
  body {
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    grid-template-columns: 5vw auto 5vw;
    gap: 5vw;
  }

  .header {
    grid-row: 1/2;
    grid-column: 1/4;
  }

  .banner {
    grid-row: 2/3;
    grid-column: 1/4;
  }

  .titulo-sobre {
    grid-row: 3/4;
    grid-column: 2/3;
  }

  .paragrafos {
    grid-row: 4/5;
    grid-column: 2/3;
  }

  .saiba-mais {
    grid-row: 5/6;
    grid-column: 2/3;
  }

  .titulo-doadores {
    grid-row: 6/7;
    grid-column: 2/3;
  }

  .slideshow-container-doadores {
    grid-row: 7/8;
    grid-column: 2/3;
  }

  .titulo-ajudados {
    grid-row: 8/9;
    grid-column: 2/3;
  }

  .slideshow-container-ajudados {
    grid-row: 9/10;
    grid-column: 2/3;
  }

  .footer {
    grid-row: 10/11;
    grid-column: 1/4;
  }

  @media (min-width: 360px) {
    .depoimento {
      height: 120vw;
    }
  }

  @media (min-width: 401px) {
    .depoimento {
      height: 75vw;
    }
  }

  @media (min-width: 600px) {
    .depoimento {
      height: 45vw;
    }
  }
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
