fieldset {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 0.6vw;
  width: 60vw;
  height: auto;
  padding: 3vw;
  border: 0.2vw solid var(--bs-turquoise-1);
  box-shadow: 0.2vw 0.2vw 0.5vw var(--bs-turquoise-4);
}

fieldset b {
  color: var(--bs-red-1);
}

fieldset label {
  font-size: 1.2rem;
}

fieldset legend {
  font-size: 1.5rem;
  font-weight: 600;
}

fieldset input,
select {
  width: 53vw;
  height: 2.5vw;
  border-radius: 15px;
  padding: 0.5vw;
  background-color: var(--bs-turquoise-1);
  box-shadow: 0.2vw 0.2vw 0.5vw var(--bs-turquoise-4) inset;
  font-size: clamp(0.6rem, 1.4vw, 1.5rem);
  color: var(--blue-4);
}

textarea {
  width: 53vw;
  border-radius: 15px;
  padding: 0.5vw;
  background-color: var(--bs-turquoise-1);
  box-shadow: 0.2vw 0.2vw 0.5vw var(--bs-turquoise-4) inset;
  font-size: clamp(0.6rem, 1.4vw, 1.5rem);
  color: var(--blue-4);
}

.divrowfrom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 18vw;
  width: 53vw;
  font-size: 1rem;
}

.posicao-botao {
  align-self: flex-end;
}

@media only screen and (max-width: 1300px) {
  fieldset input,
  select,
  textarea {
    border-radius: 10px;
  }

  fieldset label {
    font-size: 1rem;
  }

  fieldset legend {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 1000px) {
  fieldset {
    width: 80vw;
    gap: 1vw;
  }

  fieldset input,
  select {
    width: 95%;
    margin: auto;
    height: 6vw;
    font-size: clamp(0.9rem, 3vw, 1.5rem);
    border-radius: 8px;
  }

  textarea {
    width: 95%;
    margin: auto;
    height: 30vw;
    font-size: clamp(0.9rem, 3vw, 1.5rem);
    border-radius: 8px;
  }

  .divrowfrom {
    width: 95%;
    gap: 15vw;
    margin: auto;
    font-size: 1.2rem;
  }

  fieldset label {
    font-size: 1.2rem;
  }

  fieldset legend {
    font-size: 1.5rem;
  }

  @media only screen and (min-width: 600px) {
    fieldset input,
    select,
    textarea {
      border-radius: 15px;
    }
  }
}
